body {
	background-image: url('img/dtusk.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: #f2f2f2;
    font-family: 'Helvetica Neue LT Pro 65 Medium';
    overflow: hidden;
    height: 100%;
}
header {
	margin-bottom: 8%;
	margin-top: 2%;
}
#alphabet {
	color: #727272;
    text-align: center;
	letter-spacing: 3.5;
    font-size: 24px;
    font-family: 'Helvetica Neue LT Pro 75 Bold';
}
#alphabet li {
	display: inline-block;
}

#alphabet2 {
    display: none;
    color: #727272;
    text-align: center;
    letter-spacing: 3.5;
    font-size: 24px;
    font-family: 'Helvetica Neue LT Pro 75 Bold';
    list-style: none;
}

a {
	color: #727272;
	text-decoration: none;
}

a:hover {
    color:#fff;
}

button {
	border: 2px solid #4b83f2;
	color: #4b83f2;
	background-color: rgba(255, 153, 36, 0); 
	padding: 8px 30px;
    display: block;
    margin: 25px auto;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

#aContent button {
    border: 2px solid #bf0436;
}

#bContent button {
    border: 2px solid #ff0000;
}

#cContent button {
    border: 2px solid #5DA611;
}

#dContent button {
    border: 2px solid #0248A9;
}

#eContent button {
    border: 2px solid #F5DF0A;
}

#fContent button {
    border: 2px solid #00C7FF;
}

#gContent button {
    border: 2px solid #BF0C89;
}

#hContent button {
    border: 2px solid #94A3BB;
}

#iContent button {
    border: 2px solid #DC3C05;
}

#jContent button {
    border: 2px solid #FFAC40;
}

#kContent button {
    border: 2px solid #F38707;
}

#lContent button {
    border: 2px solid #20DAFF;
}

#mContent button {
    border: 2px solid #A211E8;
}

#nContent button {
    border: 2px solid #825a2c;
}

#oContent button {
    border: 2px solid #e51400;
}

#pContent button {
    border: 2px solid #008a00;
}

#rContent button {
    border: 2px solid #f472d0;
}

#sContent button {
    border: 2px solid #fa6800;
}

#tContent button {
    border: 2px solid #aa00ff;
}

#uContent button {
    border: 2px solid #ffe100;
}

#vContent button {
    border: 2px solid #4b83f2;
}

#wContent button {
    border: 2px solid #00aba9;
}

#xContent button {
    border: 2px solid #ffffff;
}

#zContent button {
    border: 2px solid #F05526;
}
.explain {
	font-size: 20.7px;
	
}
.cite {
	font-size: 28.75px;
    font-family: 'Times New Roman';
}
.name {
	font-size: 70%;
}
small {
	font-size: 50%;
	color: #727272;
}

/* emtei */
@font-face {
    font-family: 'Helvetica Neue LT Pro 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 65 Medium'), url('HelveticaNeueLTPro-Md.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue LT Pro 75 Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 75 Bold'), url('HelveticaNeueLTPro-Bd.woff') format('woff');
}
/* Koniec emtei */

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 20.37px;
    overflow: hidden;
}

.aColor {
    color: #bf0436;
}

.bColor {
    color: #ff0000;
}

.cColor {
    color: #5DA611;
}

.dColor {
    color: #0248A9;
}

.eColor {
    color: #F5DF0A;
}

.fColor {
    color: #00C7FF;
}

.gColor {
    color: #BF0C89;
}

.hColor {
    color: #94A3BB;
}

.iColor {
    color: #DC3C05;
}

.jColor {
    color: #FFAC40;
}

.kColor {
    color: #F38707;
}

.lColor {
    color: #20DAFF;
}

.mColor {
    color: #A211E8;
}

.nColor {
    color: #825a2c;
}

.oColor {
    color: #e51400;
}

.pColor {
    color: #008a00;
}

.rColor {
    color: #f472d0;
}

.sColor {
    color: #fa6800;
}

.tColor {
    color: #aa00ff;
}

.uColor {
    color: #ffe100;
}

.vColor {
    color: #4b83f2;
}

.wColor {
    color: #00aba9;
}

.xColor {
    color: #ffffff;
}

.zColor {
    color: #F05526;
}

.cite, .explain {
    text-align: center;
    width: 75%;
    display: block;
    margin: 0 auto;
}

.right, .left {
    float: left;
    width: 50%;
}

.leftMenu {
    float: left;
    border-right: 2px solid #727272;
    padding-right: 10px;
    vertical-align: middle;
    display: block;
    line-height: 1;
}

.leftMenuResponsive {

}

.rightMenuResponsive {

}

.rightMenu {
    float: left;
    padding-left: 10px;
    line-height: 1.5;
    vertical-align: middle;
}

.min1 {
   width: 259px;
    margin-bottom: -197px;
    margin-left: -16px;
}

.min2 {
width: 91px;
margin-bottom: -7px;
margin-left: -61px;
}

.white {
    color: #fff;
}

big {
    font-size: 170%;
}

.abcClick {
    margin: 0 40px;
    min-height: 54px;
    vertical-align: middle;
    position: relative;
    top: 25px;
    text-align: center;

}

#aContent, #bContent, #cContent, #dContent, #eContent, #fContent, #gContent, #hContent, #iContent, #jContent, #kContent, #lContent, #mContent, #nContent, #oContent, #pContent, #rContent, #sContent, #tContent, #uContent, #vContent, #wContent, #xContent, #zContent { display: none; }
#a2,#b2,#c2,#d2,#e2,#f2,#g2,#h2,#i2,#j2,#k2,#l2,#m2,#n2,#o2,#p2,#r2,#s2,#t2,#u2,#v2,#w2,#x2,#z2 { display: none; }

#showMenuLink {
    display: none;
}

@media (max-width: 950px) {
    #alphabet {
        display: none;
    }
    #showMenuLink {
        display: block;
    }
    .explain {
        font-size: 1em;
    }
    .cite {
        font-size: 1.3em;
    }
}
@media (max-width: 750px) {
    .right {
        float: none;
        width: 100%;
    }
    .left {
        float: none;
        width: 100%;
        overflow: auto;
    }
}